
.wrapper {
  width: 1230px;
  height: 100%;
  margin: 0 auto;
  font-size: 0;
}


.wrapper > * {
  font-size: 16px;
}


header {
  width: 100%;
  height: 40px;
  background-color: #333333;
}


header nav {
  position: relative;
}


header nav a {
  color: #b0b0b0;
}


header nav span {
  color: #424242;
}


header nav ul.left {
  width: 830px;
  position: absolute;
  top: 10px;
}


header nav ul.left li {
  display: inline-block;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}


header nav ul.left li a:hover {
  color: white;
}


header nav ul.left #download span {
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 690px;
  display: inline-block;
  width: 130px;
  height: 150px;
  background-color: white;
  color: black;
  font-size: 14px;
  text-align: center;
  display: none;
  box-shadow: 0 0 3px gray;
}


header nav ul.left #download span img {
  width: 90px;
  height: 90px;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
}


header nav ul.left #download:hover span {
  display: block;
}


header nav ul.right {
  width: 240px;
  position: absolute;
  top: 10px;
  left: 950px;
}


header nav ul.right li {
  display: inline-block;
  font-size: 12px;
}


header nav ul.right li a:hover {
  color: white;
}


header nav .shopcar {
  float: right;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  background-color: #424242;
  color: #b0b0b0;
  cursor: pointer;
  >i{
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
  }


}



header nav .shopcar:hover {
  color: orange;
  background-color: #fff;
}


header nav .shopcar:hover .product {
  display: block;
}


header nav .shopcar div.product {
  position: absolute;
  right: 0;
  z-index: 999;
  width: 320px;
  height: 100px;
  background-color: white;
  box-shadow: 0 0 5px gray;
  display: none;
}


header nav .shopcar div.product p {
  color: black;
  margin-top: 30px;
}


.top {
  width: 100%;
  height: 100px;
  position: relative;
}


.top .logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi.com-assets/shop/img/logo-mi2.png);
  background-size: 50px;
  background-repeat: no-repeat;
  margin-top: 20px;
}


.top .nav {
  position: absolute;
  left: 240px;
  top: 40px;
  width: 100%;
  display: inline-block;
}


.top .nav ul li {
  display: inline-block;
  font-size: 12px;
  margin-right: 20px;
  font-weight: bold;
}


.top .nav ul li a {
  color: #333;
}


.top .nav ul li a:hover {
  color: #ff6700;
}


.top .nav ul li:hover + #Product {
  display: block;
}


.top .nav ul #Product {
  position: absolute;
  z-index: 999;
  top: 60px;
  left: -240px;
  border-top: 1px solid #e0e0e0;
  width: 100%;
  box-shadow: 0 0 5px #d6d6d6;
  display: none;
  background-color: white;
}


.top .nav ul #Product ul {
  margin: 36px 40px;
}


.top .nav ul #Product ul li {
  text-align: center;
  font-size: 10px;
  margin-right: 20px;
}


.top .nav ul #Product ul li div {
  color: #000;
  margin-top: 20px;
  margin-bottom: 12px;
}


.top .nav ul #Product ul li span {
  color: #ff7b21;
}


.top .nav form {
  position: absolute;
  left: 685px;
  top: -12px;
  font-size: 0;
}


.top .nav form input {
  display: inline-block;
  width: 250px;
  height: 58px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.3);
}


.top .nav form #search {
  position: absolute;
  top: 0;
  display: inline-block;
  width: 54px;
  height: 58px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.3);
  border-left: none;
  cursor: pointer;
  font-size: 20px;
    &:hover{
      background-color: #ff6700;
      opacity: 0.9;
    }
}


.top .nav form #submit:active {
  background: #ff6700;
}


.content-swiper {
  width: 100%;
  position: relative;
}


.content-swiper .left {
  width: 20%;
  height: 100%;
  background-color: #a5a3a3;
  overflow: hidden;
}


.content-swiper .left ul {
  margin-top: 15px;
  margin-bottom: 15px;
}


.content-swiper .left ul li {
  height: 42px;
  line-height: 42px;
  padding-left: 30px;
  color: #fff;
  cursor: pointer;
}


.content-swiper .left ul li::after {
  content: ">";
  font-weight: bold;
  position: absolute;
  left: 210px;
}


.content-swiper .left ul li:hover {
  background: #ff6700;
}


.content-swiper .left ul li:hover #Phone {
  display: block;
}


.content-swiper .left ul li #Phone {
  position: absolute;
  top: 0;
  left: 250px;
  z-index: 999;
  height: 100%;
  background-color: white;
  box-shadow: 0 0 5px gray;
  display: none;
}


.content-swiper .left ul li #Phone div {
  width: 200px;
  height: 60px;
  margin: 10px;
  padding: 10px;
}


.content-swiper .left ul li #Phone div:nth-child(n+7) {
  margin-left: 220px;
  margin-top: -420px;
}


.content-swiper .left ul li #Phone div img {
  vertical-align: middle;
}


.content-swiper .left ul li #Phone div span {
  vertical-align: middle;
  color: #333;
  font-size: 12px;
}


.content-swiper .left ul li #Phone div span:hover {
  color: #ff6700;
}


.content-swiper .right {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: lightgreen;
}


.content-swiper .right .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.content-swiper .right .slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 2s;
}


.content-swiper .right input {
  display: none;
}


.content-swiper .right input:nth-child(1):checked ~ .picture img:nth-child(1),
.content-swiper .right input:nth-child(2):checked ~ .picture img:nth-child(2),
.content-swiper .right input:nth-child(3):checked ~ .picture img:nth-child(3),
.content-swiper .right input:nth-child(4):checked ~ .picture img:nth-child(4) {
  opacity: 1;
}


.content-swiper .right .index {
  position: absolute;
  right: 50px;
  bottom: 10px;
}


.content-swiper .right .index label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: 1px solid gray;
  border-radius: 333px;
  text-indent: -9999px;
  cursor: pointer;
}


.content-swiper .right .index label:hover {
  background-color: white;
}


.content-swiper-bottom {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 170px;
  background-color: white;
}


.content-swiper-bottom .left {
  width: 20%;
  height: 100%;
  background-color: pink;
}


.content-swiper-bottom .left section {
  width: 82px;
  height: 85px;
  float: left;
  border: 1px solid #665e57;
  background-color: #5f5750;
}


.content-swiper-bottom .left section a {
  color: #cfcdcb;
  font-size: 10px;
  padding: 16px;
}


.content-swiper-bottom .left section a img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: 20px;
}


.content-swiper-bottom .left section a span {
  padding-left: 16px;
}


.content-swiper-bottom .left section a:hover {
  color: white;
}


.content-swiper-bottom .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
}


.content-swiper-bottom .right ul li {
  display: inline-block;
  margin-left: 5px;
  &:hover{
    transform: translateY(-2px);
    transition:.2s;
    box-shadow:0 0 5px gray
  }
}


.content-swiper-bottom .right ul li img {
  width: 316px;
  height: 100%;
}

main{
  background-color: white;
}

main div.ImgOnes{
  padding-top: 25px;
  margin: 22px 0;
}

main div.Phone{
  width: 100%;
}

main div.Phone .top{
  height: 60px;
  color: #000;
}

main div.Phone .top .phone{
  float: left;
  font-size: 22px;
  line-height: 60px;
  font-weight: 200;
}

main div.Phone .top .more{
  float: right;
  font-size: 16px;
  line-height: 60px;
}

main div.Phone .top .more i{
  width: 12px;
  height: 12px;
  padding: 4px;
  margin-left: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background: #b0b0b0;
  color: #fff;
  vertical-align: 1px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

main div.Phone .top .more a{
  color: black;
}

main div.Phone .top .more a:hover{
  color: #ff6700;
  >.iconfont:hover{
    color: #ff6700;
  }
}

main div.Phone .top .more .iconfont:hover{
  background-color: #ff6700;
}




main .Phone .content{
margin-top: 20px;
overflow: hidden;
}

main .Phone .content ul{
  height: 614px;
  width: 100%;
}

main .Phone .content ul li{
  display: block;
  float: left;
  width: 234px;
  height: 300px;
  background-color: white;
  padding-top: 30px;
  margin-right: 16px;
  margin-bottom: 14px;
  text-align: center;
  &:hover{
    transform: translateY(-2px);
    transition:.2s;
    box-shadow:0 0 5px gray;
  }
}

main .Phone .content ul li:nth-child(5),
main .Phone .content ul li:nth-child(9){
  margin-right: 0;
}

main .Phone .content ul li div a div{
  text-align: center;
  font-size: 12px;
}

main .Ai{
  width: 100%;
  margin-top: 20px;
  height: 720px;
}

main .Ai .top{
  height: 60px;
  color: black;
}

main .Ai .top .left{
  width: 100px;
  height: 60px;
  line-height: 60px;
  font-size: 22px;
  font-weight: 200;
}

main .Ai .top .right{
  width: 200px;
  height: 200px;
  float: right;
  position: relative;
  bottom: 30px;
  >.tabs{
    float: right;
    &:hover > span {
      color: black;
      transition: none;
      > section {
        visibility: hidden;
        transition: none;
      }
    }
    > span {
      color: black;
      transition: 0s 9999s;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: #ff6700;
        border-bottom: 2px solid #ff6700;
        transition: none;
        > section {
          visibility: visible;
          transition: none;
        }
      }

      >.watch{
        position: absolute;
        top: -20px;
        right: -60px;
        display: grid;
        grid-template-columns: repeat(5, 240px);
        grid-template-rows: repeat(4, 150px);
        grid-auto-flow: row;
        background-color: white;
        gap: 10px;
        margin: 50px;

          >#watch-s2 {
            grid-column: span 1;
            grid-row: span 4;
            background-color: #fff;
              &:hover{
                transform: translateY(-2px);
                transition:.2s;
                box-shadow:0 0 5px gray;
                }
          }

          >.Buds {
            grid-column: span 1;
            grid-row: span 2;
            text-align: center;
            text-decoration: none;
            background-color: white;
            &:hover{
              transform: translateY(-2px);
              transition:.2s;
              box-shadow:0 0 5px gray;
            }

            >.name {
              font-size: 14px;
              margin-top: 0;
              color: black;
            }

            >.description {
              margin: 0 10px;
              font-size: 12px;
              color: #b0b0b0;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            >.price {
              font-size: 12px;
              color: #ff6700;
            }
          }

          >.Necklace {
            grid-column: span 1;
            grid-row: span 2;
            width: 100%;
            height: 140px;
            background-color: white;
            position: relative;
            text-decoration: none;
            &:hover{
              transform: translateY(-2px);
              transition:.2s;
              box-shadow:0 0 5px gray;
            }


            >.left {
              width: 100px;
              height: 100px;
              color: black;
              margin-left: 20px;
              margin-top: 20px;

              >.name {
                font-size: 12px;
                width: 110px;
                height: 30px;
              }

              >.price {
                font-size: 12px;
                color: orange;
              }
            }

            >.img {
              position: absolute;
              top: 30px;
              right: 20px;
            }
          }

          >.more {
            width: 240px;
            height: 150px;
            position: absolute;
            right: 0;
            bottom: 0;
            grid-column: span 1;
            grid-row-end: span 1;
            height: 140px;
            background-color: white;
            text-decoration: none;
            &:hover{
              transform: translateY(-2px);
              transition:.2s;
              box-shadow:0 0 5px gray;
            }

            .left {
              width: 100px;
              height: 100px;
              margin-left: 20px;
              margin-top: 30px;

              >h4 {
                color: black;
                font-weight: 500;
                margin-bottom: -5px;
              }

              >p {
                color: #b0b0b0;
                font-size: 12px;
              }
            }

            .img {
              position: absolute;
              top: 40px;
              right: 20px;

            }
          }



      }
    }

  }
}

.footer{
  .img-bottom{
    >a{
      >img{
        width:100%;
      }
    }
  }

  .footer-service{
    height: 60px;
    border-bottom: 1px solid #b0b0b0;
    >ul{
      display: grid;
      grid-template-columns:repeat(5,1fr);
      gap: 10px;
      margin-left: 20px;
      >li{
        margin-top: 20px;
        display: inline-block;
        height: 25px;
        >a{
          line-height: 25px;
          text-align: center;
          font-size: 16px;
          color: #616161;
          >i{
            font-size: 24px;
            vertical-align: bottom;
          }
          &:hover{
            color: #ff6700;
          }
        }
      }
      >li + li::before{
        content: " ";
        border-left: 1px solid #b0b0b0;
        margin-right: 40px;
      }
    }
  }
}






